<%= link_to "Home", '/' %> |
Logged in as <%= current_user.email %> | <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<div class="new-header">
  <h1 class="new-text">Edit Product</h1>
</div>
<hr class="hr-thick">
<hr class="hr-thin">

<%= render "layouts/product_form" %>
